.ex-1-square:hover{
    transition: all 2s;
    background-color: red;
}
.ex-2-square:active{
    width: 600px;
}
.ex-3-square:hover{
    transition: all 2s;
    border-radius: 50%;
}
.ex-4-square:hover{
    transition: all 3s;
    background-color: transparent;
}
.ex-5-square:hover{
    width: 70px;
    height: 70px;
}
.ex-5-square:active{
    width: 50px;
    height: 50px;
}
.ex-6-img:hover{
    filter: grayscale(1);
}
.ex-7-img:hover{
    filter: sepia(0.8) brightness(50%);
    transition: all 3s;
}
.ex-8-img:hover{
    filter: opacity(0.6) grayscale(0.2);
    border-radius: 20px;
    transition: all 2s;
}
.ex-9-img:hover{
    filter: brightness(0.5) sepia(0.9);
    border-radius: 20px;
    scale: 140%;
    transition: all 3s;
}
.ex-10-icon{
    animation:spin 3s linear infinite;
}
@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}
.ex-11-icon:hover{
    animation: spin-part 5s linear;
}
@keyframes spin-part{
    75%{
        transform: rotate(270deg);
    }  
} 
.ex-12-button:hover .ex-12-top-white {
    animation: mymove 2s linear;
}
@keyframes mymove {
    0% {
        left: 10%;
    }
    50% {
        left: 70%;
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: movebot 2s linear;
}
@keyframes movebot {
    0% {
        right: 20%;
    }
    50% {
        right: 65%;
    }
    100% {
        right: 20%;
    }
}

